
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';


.header-wrapper {
  width: 100%auto;
  height: 65px;
  background: #ccc;
  text-align: center;


}
.header-wrapper ul li {
  font-family: 'Playfair Display', serif;
  font: 100px;
  display: none;
}
.bottom-margin {
  margin-bottom: 25px;
}

.big {
width: 100vw;
height: 200px;
background: lightblue;
position: relative;


}
.square {
  width: 50px;
  height: 50px;
  background: black;
  position: absolute;
  border-radius: 50%;
  color: white;



}

.TL {
  top: 10px;
  left: 10px;
}

.BR {
bottom: 10px;
right: 10px;
}

.TR {
  top: 10px;
  right: 10px;
}

.BL {
bottom: 10px;
left: 10px;
}
@media(min-width:750px) {
  .header-wrapper ul li {
    display: inline-block;
  }
}
